{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <section class="top-posts">
        {% set main_post = posts.getOneFromTop %}
        <article class="main-post top-post">
            <a href="#" class="category-link">{{ main_post.category }}</a>
            <a href="#">
                <img src="{{ main_post.image }}" alt="" class="img-fluid">
            </a>
            <a href="#" class="post-link">
                <h1>{{ main_post.title }}</h1>
            </a>
            <time>{{ main_post.publicationDate | date('Y-m-d H:i:s') }}</time>
            <p>{{ main_post.shortDescription }}</p>
            <div class="clearfix"></div>
        </article>
        <div class="row posts">
            <div class="col"></div>
        {% for post in posts.getFromTop(3) %}
            <div class="col-3">
                <article class="post top-post">
                    <a href="#" class="category-link">{{ post.category }}</a>
                    <a href="#">
                        <img src="{{ post.image }}" alt="" class="img-fluid">
                    </a>
                    <a href="#" class="post-link">
                        <h3>{{ post.title }}</h3>
                    </a>
                    <time>{{ post.publicationDate | date('Y-m-d H:i:s') }}</time>
                    <p>{{ post.shortDescription }}</p>
                </article>
            </div>
        {% endfor %}
            <div class="col"></div>
        </div>
    </section>
    <section class="regular-posts">
    {% for post in posts %}
        <article class="post">
            <a href="#" class="category-link">{{ post.category }}</a>
            <a href="#"><h4>{{ post.title }}</h4></a>
            <time>{{ post.publicationDate | date('Y-m-d H:i:s') }}</time>
        </article>
    {% endfor %}
    </section>
</div>
{% endblock %}
